<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Secure_android_basic_server</servlet-name>
		<servlet-class>com.example.basic.Secure_android_basic_serverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Secure_android_basic_server</servlet-name>
		<url-pattern>/secure_android_basic_server</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<filter>
  	<filter-name>BasicAuth</filter-name>
  	<filter-class>com.example.basic.server.BasicAuthFilter</filter-class>
  	<init-param>
  		<param-name>realm</param-name>
  		<param-value>Secure Android Basic Authentication Example</param-value>
  	</init-param>
  	<init-param>
  		<param-name>passwdFile</param-name>
  		<param-value>WEB-INF/passwd.prop</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>BasicAuth</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
	
</web-app>
